{% extends "base.html"%}

{% block content %}
<div id="app"></div>
{% endblock %}

{% block scripts %}
<script src="{{ static_url('bundle.js') }}"></script>
<script src="{{ static_url('js/map/p5.min.js') }}"></script>
<script src="{{ static_url('js/map/p5.collide2d.min.js') }}"></script>
<script src="{{ static_url('js/map/missionelement.js') }}"></script>
<script src="{{ static_url('js/map/sketch.js') }}"></script>
<script src="{{ static_url('js/map/button.js') }}"></script>
<script src="{{ static_url('js/map/socketmanager.js') }}"></script>
<script src="{{ static_url('js/map/pool.js') }}"></script>
<script src="{{ static_url('js/map/config/pools.js') }}"></script>
<script src="{{ static_url('js/map/config/elements.js') }}"></script>
<script src="{{ static_url('js/map/config/main.js') }}"></script>
{% endblock %}

